<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- This form will run a POST towards /users when user click submit -->
    <form action="/users" method="POST">
        <label>First Name
            <!-- This part is simply to store the value of the input to 'firstName' var; We will grab this value in the req body later in our /users POST endpoint -->
            <input type="text" name="firstName" value="<%= locals.firstName %>" />
        </label>
        <button type="submit">Submit</button>
    </form>
</body>

</html>